/*
 * Styling for kansas pages. Primarily based on the core module.
 */

@use 'core';

:root {
    --light: #F6F6F6;
    --light-text: var(--dark);
    --light-link: var(--primary);
    --mid-light: #CACACA;
    --mid-light-text: var(--dark);
    --mid: #B0B0B0;
    --mid-text: var(--dark);
    --mid-dark: #414141;
    --mid-dark-text: white;
    --mid-dark-link: var(--secondary-light);
    --mid-dark-highlight: var(--primary-mid-light);
    --dark: #202020;
    --dark-text: white;

    --primary-light: #f8c8cd;
    --primary-light-text: var(--dark);
    --primary-light-link: var(--primary-mid-dark);
    --primary-mid-light: #d45360;
    --primary-mid-light-text: var(--dark);
    --primary-mid-light-link: var(--primary-mid-dark);
    --primary: #af202e;
    --primary-text: white;
    --primary-link: var(--primary-light);
    --primary-mid-dark: #941c27;
    --primary-mid-dark-text: white;
    --primary-dark: #441015;
    --primary-dark-text: white;

    --secondary-light: #d2d9ff;
    --secondary-light-text: var(--dark);
    --secondary: #8d96c3;
    --secondary-text: white;
    --secondary-mid-dark: #545977;
    --secondary-mid-dark-text: white;
    --secondary-mid-dark-link: var(--primary-mid-light);
    --secondary-dark: #363b58;
    --secondary-dark-text: white;
    --secondary-dark-link: var(--secondary-light);
    --secondary-dark-highlight: var(--primary-mid-light);
}
