/*
 * Styling for kansas pages. Primarily based on the core module.
 */

@use 'core';

:root {
    --light: #F6F6F6;
    --light-text: var(--dark);
    --light-link: var(--primary);
    --mid-light: #CACACA;
    --mid-light-text: var(--dark);
    --mid: #B0B0B0;
    --mid-text: var(--dark);
    --mid-dark: #414141;
    --mid-dark-text: white;
    --mid-dark-link: var(--secondary-light);
    --mid-dark-highlight: var(--primary-mid-light);
    --dark: #202020;
    --dark-text: white;

    --primary-light: #c8f8d0;
    --primary-light-text: var(--dark);
    --primary-light-link: var(--primary-mid-dark);
    --primary-mid-light: #53d48d;
    --primary-mid-light-text: var(--dark);
    --primary-mid-light-link: var(--primary-mid-dark);
    --primary: #20af57;
    --primary-text: white;
    --primary-link: var(--primary-light);
    --primary-mid-dark: #1c9440;
    --primary-mid-dark-text: white;
    --primary-dark: #104420;
    --primary-dark-text: white;

    --secondary-light: #d2d9ff;
    --secondary-light-text: var(--dark);
    --secondary: #8d96c3;
    --secondary-text: white;
    --secondary-mid-dark: #545977;
    --secondary-mid-dark-text: white;
    --secondary-mid-dark-link: var(--primary-mid-light);
    --secondary-dark: #363b58;
    --secondary-dark-text: white;
    --secondary-dark-link: var(--secondary-light);
    --secondary-dark-highlight: var(--primary-mid-light);
}

#calendar-list {
    > div {
        @extend .background-secondary;
        padding: 1rem;
        margin: 0.2rem;

        .calendar-entry {
            display: grid;
            grid-template-columns: 2fr 1fr;

            .calendar-macros {
                display: grid;
                grid-template-columns: auto auto;
            }
        }

        > h3 {
            margin: 0;
        }

        &.today {
            @extend .background-primary;
        }
    }
}