{% extends 'kansas/base.html' %}

{% block content-single %}
<div>

<h1>
    {{ recipe.display_name }}
    <a href="{% url 'kansas:edit_recipe' recipe.id %}">
        <i class="fas fa-edit"></i>
    </a>
</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

Servings: {{ recipe.servings }}

<h2>Macros per portion</h2>
<ul>
    <li>{{ recipe.calories_pp }} kcal</li>
    <li>{{ recipe.grams_protein_pp }}g Protein</li>
    <li>{{ recipe.grams_carbs_pp }}g Carbs</li>
    <li>{{ recipe.grams_fat_pp }}g Fat</li>
</ul>

<h2>Ingredients</h2>
<ul>
{% for ingredient in recipe.recipeingredient_set.all %}
    <li>{{ ingredient.ingredient.display_name }} {{ ingredient.quantity }}{{ ingredient.unit.abbreviation }}</li>
{% endfor %}
</ul>

</div>
{% endblock %}
